{% extends 'saar_website/layouts/base.html' %}

{% load static %}

{% block content %}

     <!-- Header Start -->
     <div class="container-fluid bg-breadcrumb-IA">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="text-white display-3 mb-4">{{produit.titre}}</h1>
           <!--  <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                {% comment %} <li class="breadcrumb-item"><a href="#">Pages</a></li> {% endcomment %}
                <li class="breadcrumb-item active text-white">{{produit.titre}}</li>
            </ol>   --> 
        </div>
    </div>
    <!-- Header End -->

     <!-- Services Start -->
     <div class="mx-5 py-5">
        {% comment %} <div class="container py-5"> {% endcomment %}

            <div class="mx-5 mb-5">
                {% comment %} <h1 class="mb-0" style="color: red;">A PROPOS</h1> {% endcomment %}
                <P style="font-size: 1.25em; color: black; text-align: justify;">{{produit.contenu | safe}} En cas d'accident portant atteinte à votre intégrité physique, SAAR Assurances vous garantit une prise en charge immédiate.</P>
            </div>

          
            
           

            <div class="mx-5 mb-5">
                <h1 class="mb-2" style="color: red;">NOS GARANTIES</h1>
                <ul style="font-size: 1.25em; color: black; text-align: justify;">
                    <li><strong>Frais de traitement :</strong> Remboursement des frais médicaux sur justificatifs, dans la limite du plafond prévu.</li>
                    <li><strong>Incapacité permanente et partielle :</strong> Indemnité proportionnelle au taux d'incapacité déterminé après contre-expertise.</li>
                    <li><strong>Incapacité permanente et totale :</strong> Versement d'un capital maximum déterminé par l'assuré, basé sur le taux d'incapacité arrêté après contre-expertise.</li>
                    <li><strong>Décès :</strong> Versement du capital déterminé par l'assuré à ses ayants droit en cas de décès accidentel.</li>                
                </ul>
                <P class="mb-2" style="font-size: 1.25em; color: black; text-align: justify;"><strong>NB :</strong> Les capitaux décès et incapacité totale ne peuvent pas se cumuler.</P>    
            </div>

            <div class="mx-5 mb-5">
                <h1 class="mb-2" style="color: red;">QUI PEUT SOUSCRIRE ?</h1>
                <P style="font-size: 1.25em; color: black; text-align: justify;">Toute personne physique ou morale.</P>
            </div>

            {% comment %} <div class="mx-auto mb-4" style="max-width: 900px;">
                <h1 class="mb-2" style="color: red;">COMMENT SOUSCRIRE A CE PRODUIT ?</h1>
                <P class="mb-2" style="font-size: 1.25em; color: black; text-align: justify;">Fournissez votre passeport et les informations demandées pour obtenir une cotation auprès de n'importe quel bureau <strong>SAAR Assurances</strong> en Côte d'Ivoire.</P>
            </div> {% endcomment %}

            <div class="mx-5 mb-5">
                <h1 class="mb-2" style="color: red;">QUE FAIRE EN CAS DE SINISTRE ?</h1>
                <P style="font-size: 1.25em; color: black; text-align: justify;">Déclarez à un point d'accueil <strong>SAAR Assurances</strong> Côte d'Ivoire dans les plus brefs délais.</P>
            </div>

        {% comment %} </div> {% endcomment %}
    </div>
    <!-- Services End -->


{% endblock content %}