{% extends 'saar_website/layouts/base.html' %}

{% load static %}

{% block content %}

     <!-- Header Start -->
     <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="text-white display-3 mb-4">{{produit.titre}}</h1>
           <!--  <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                {% comment %} <li class="breadcrumb-item"><a href="#">Pages</a></li> {% endcomment %}
                <li class="breadcrumb-item active text-white">{{produit.titre}}</li>
            </ol>   --> 
        </div>
    </div>
    <!-- Header End -->
<!-- Services Start -->
<div class="container-fluid bg-white service">
    <div class="container py-5">

        <div class="mx-auto mb-5" style="max-width: 900px;">
            {% comment %} <h1 class="mb-0" style="color: red;">A PROPOS</h1> {% endcomment %}
            <P class="mb-2" style="font-size: 1.25em; color: black; text-align: justify;">{{produit.contenu}} <br>Grâce au contrat JOKER BAILLEUR de SAAR Assurances, l'investissement dans l'immobilier locatif est une partie de plaisir.</P>
        </div>

        <div class="mx-auto mb-4" style="max-width: 900px;">
            <h1 class="mb-2" style="color: red;">NOS GARANTIES</h1>
            <ul style="font-size: 1.25em; color: black; text-align: justify;">
                <li><strong>Incendie</strong></li>
                <li><strong>LOYERS IMPAYES</strong></li> 
                <li><strong>DETERIORATIONS IMMOBILIERES</strong></li>
                <li><strong>DEFENSE ET RECOURS</strong></li>               
            </ul>
        </div>

        <div class="mx-auto mb-4" style="max-width: 900px;">
            <h1 class="mb-2" style="color: red;">QUI PEUT SOUSCRIRE ?</h1>
            <P class="mb-2" style="font-size: 1.25em; color: black; text-align: justify;">Tout bailleur ou gestionnaire immobilier.</P>
        </div>

        <div class="mx-auto mb-4" style="max-width: 900px;">
            <h1 class="mb-2" style="color: red;">POURQUOI SOUSCRIRE AU CONTRAT JOKER BAILLEUR ?</h1>
            <P class="mb-2" style="font-size: 1.25em; color: black; text-align: justify;"><strong>JOKER BAILLEUR</strong> est une solution qui garantit non seulement les revenus locatifs, mais également assure la pérennité du bien du bailleur en prenant en charge les dommages physiques que celui-ci peut subir.</P>
            <P class="mb-2" style="font-size: 1.25em; color: black; text-align: justify;">En pratique, lorsqu'un promoteur immobilier s'engage dans les constructions de logements à but locatifs, il compte sur les loyers à percevoir pour faire face à ses multiples engagements et donc il encourt un risque d'insolvabilité en cas de non règlement du loyer par le locataire.</P>
        </div>

        <div class="mx-auto mb-4" style="max-width: 900px;">
            <h1 class="mb-2" style="color: red;">COMMENT SOUSCRIRE A CE PRODUIT ?</h1>
            <P class="mb-2" style="font-size: 1.25em; color: black; text-align: justify;">Il suffit de <strong>remplir le questionnaire</strong> conçu à cet effet et fournir les informations demandées pour obtenir une cotation auprès de n'importe quel bureau <strong>SAAR ASSURANCES</strong> en Côte d'Ivoire.</P>
        </div>

        {% comment %} <div class="mx-auto mb-4" style="max-width: 900px;">
            <h1 class="mb-2" style="color: red;">QUE FAIRE EN CAS DE SINISTRE ?</h1>
            <P class="mb-2" style="font-size: 1.25em; color: black; text-align: justify;">Contactez MAPFRE ASSISTANCIA France au <strong>+33 4 37 37 28 98</strong>.</P>
        </div> {% endcomment %}

    </div>
</div>
<!-- Services End -->


{% endblock content %}