{% extends 'saar_website/layouts/base.html' %}

{% load static %}

{% block content %}

     <!-- Header Start -->
     <div class="container-fluid bg-breadcrumb-SA">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="text-white display-3 mb-4">{{produit.titre}}</h1>
           <!--  <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                {% comment %} <li class="breadcrumb-item"><a href="#">Pages</a></li> {% endcomment %}
                <li class="breadcrumb-item active text-white">{{produit.titre}}</li>
            </ol>   --> 
        </div>
    </div>
    <!-- Header End -->

      <!-- Services Start -->
    <div class="mx-5 py-5">
        {% comment %} <div class="container py-5"> {% endcomment %}

            <div class="mx-5 mb-5">
                {% comment %} <h1 class="mb-0" style="color: red;">A PROPOS</h1> {% endcomment %}
                <P class="mb-2" style="font-size: 1.25em; color: black; text-align: justify;">{{produit.contenu | safe}}</P>
                <ul style="font-size: 1.25em; color: black; text-align: justify;">
                    <li>Préfinancement de vos soins et remboursement de vos dépenses.</li>
                    <li>Prise en charge de tous vos actes, soins médicaux et frais pharmaceutiques selon votre taux de couverture.</li>
                </ul>

            </div>


            <div class="mx-5 mb-5">
                <h1 class="mb-2" style="color: red;">COMMENT SOUSCRIRE?</h1><br/> 
                {% comment %} <P class="mb-4" style="font-size: 1.25em; color: black;">aszdzaaaaaaaaaaaad</P> {% endcomment %}
                <ul style="font-size: 1.25em; color: black; text-align: justify;">
                    <li>Remplissez un questionnaire de souscription dans nos agences, représentations ou chez nos courtiers partenaires.</li>
                    <li><strong>Choisissez votre régime : </strong>tiers payant ou système de remboursement.</li>
                </ul>
            </div>
      
            <div class="mx-5 mb-5">
                 <h1 class="mb-2" style="color: red;">NOS GARANTIES</h1><br/> 
                <ul style="font-size: 1.25em; color: black; text-align: justify;" >
                    <li ><strong>Consultation, Hospitalisation, Chirurgie </strong></li>
                    <li><strong>Frais médicaux et pharmaceutiques </strong></li>
                    <li><strong>Radiologie et Imagerie</strong></li>
                    <li><strong>Analyses biologiques et travaux de laboratoire</strong></li>
                    <li><strong>Soins dentaires et prothèses dentaires</strong></li>
                    <li><strong>Lunetterie</strong></li>
                    <li><strong>Frais pré et postnatals</strong></li>
                    <li><strong>Echographie</strong></li>
                    <li><strong>Accouchements: simple, gémellaire et Chirurgical</strong></li>
                </ul>
            </div>

            <div class="mx-5 mb-5">
                <h1 class="mb-2" style="color: red;">PRISE EN CHARGE MEDICALE</h1><br/> 
                <ul style="font-size: 1.25em; color: black; text-align: justify;">
                    <li><strong>Tiers Payant : </strong>rendez vous dans les cliniques et pharmacie agrées par SAAR Assurances Côte d'Ivoire muni de votre carte d'assurance santé pour une prise en charge complète.</strong></li>
                    <li><strong>Hors Tiers Payant   : </strong>si vous êtes pris en charge dans un centre de santé non agréé par SAAR Assurances, trabsmettez-nous les justificatifs pour remboursement.</strong></li>
                </ul>
            </div>

    

        {% comment %} </div> {% endcomment %}
    </div>
    <!-- Services End -->


{% endblock content %}