{% extends 'saar_website/layouts/base.html' %}

{% load static %}

{% block content %}

     <!-- Header Start -->
     <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="text-white display-3 mb-4">{{produit.titre}}</h1>
           <!--  <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                {% comment %} <li class="breadcrumb-item"><a href="#">Pages</a></li> {% endcomment %}
                <li class="breadcrumb-item active text-white">{{produit.titre}}</li>
            </ol>   --> 
        </div>
    </div>
    <!-- Header End -->

      <!-- Services Start -->
      <div class="container-fluid bg-white service py-5">
        <div class="container py-5">

            {% comment %} <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <h5 class="section-title px-3">Garanties</h5>
                <h1 class="mb-0">Nos Garanties</h1>
            </div> {% endcomment %}

            <div class="mx-auto mb-5" style="max-width: 900px;">
                {% comment %} <h1 class="mb-0" style="color: red;">A PROPOS</h1> {% endcomment %}
                <P class="mb-4" style="font-size: 1.25em; color: black; text-align: justify;">{{produit.contenu}}</P>
            </div>


            <div class="mx-auto mb-5" style="max-width: 900px;">
                <h1 class="mb-0" style="color: red;">NOS GARANTIES</h1><br/> 
                {% comment %} <P class="mb-4" style="font-size: 1.25em; color: black;">aszdzaaaaaaaaaaaad</P> {% endcomment %}
                <ul style="font-size: 1.25em; color: black; text-align: justify;">
                    <li ><strong>Incendie et évènement assimilé </strong></li>
                    <li><strong>Dégâts des eaux </strong></li>
                    <li><strong>Vol</strong></li>
                    <li><strong>Bris de glace</strong></li>
                    <li><strong>Biens Assurables</strong></li>
                    <li><strong>Bâtiments</strong></li>
                    <li><strong>Mobilier personnel</strong></li>
                </ul>
            </div>

            <div class="mx-auto mb-5" style="max-width: 900px;">
                <h1 class="mb-0" style="color: red;">COMMENT SOUSCRIRE?</h1><br/> 
                <ul style="font-size: 1.25em; color: black; text-align: justify;">
                    <li><strong></strong>Vous devez remplir un questionnaire en donnant les informations sur votre logement, son contenu, votre profil (si vous êtes propriétaires ou locataire)...</li>
                </ul>
            </div>



        </div>
    </div>
    <!-- Services End -->


{% endblock content %}