{% extends 'saar_website/layouts/base.html' %}

{% load static %}

{% block content %}

     <!-- Header Start -->
     <div class="container-fluid bg-breadcrumb-AV">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="text-white display-3 mb-4">{{produit.titre}}</h1>
           <!--  <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                {% comment %} <li class="breadcrumb-item"><a href="#">Pages</a></li> {% endcomment %}
                <li class="breadcrumb-item active text-white">{{produit.titre}}</li>
            </ol>   --> 
        </div>
    </div>
    <!-- Header End -->

 
      <!-- Services Start -->
      <div class="container-fluid bg-white service">
        <div class="container py-5">

            <div class="mx-auto mb-5" style="max-width: 900px;">
                {% comment %} <h1 class="mb-0" style="color: red;">A PROPOS</h1> {% endcomment %}
                <P class="mb-2" style="font-size: 1.25em; color: black; text-align: justify;">{{produit.contenu}}</P>
            </div>

          
            
           

            <div class="mx-auto mb-4" style="max-width: 900px;">
                <h1 class="mb-2" style="color: red;">NOS GARANTIES</h1>
                <ul style="font-size: 1.25em; color: black; text-align: justify;">
                    <li><strong>Frais médicaux et hospitaliers :</strong> jusqu'à 30 000 euros.</li>
                    <li><strong>Cautionnement pénal :</strong> jusqu'à 15 000 euros.</li>
                    <li><strong>Avance de fonds :</strong> jusqu'à 1 500 euros pour perte de documents.</li> 
                    <li><strong>Transmission de messages urgents :</strong> illimité.</li> 
                    <li><strong>Repatriment du corps :</strong> Prise en charge totale.</li>                   
                </ul>
            </div>

            <div class="mx-auto mb-4" style="max-width: 900px;">
                <h1 class="mb-2" style="color: red;">QUI PEUT SOUSCRIRE ?</h1>
                <P class="mb-2" style="font-size: 1.25em; color: black; text-align: justify;">Toute personne physique ou morale.</P>
            </div>

            <div class="mx-auto mb-4" style="max-width: 900px;">
                <h1 class="mb-2" style="color: red;">COMMENT SOUSCRIRE A CE PRODUIT ?</h1>
                <P class="mb-2" style="font-size: 1.25em; color: black; text-align: justify;">Fournissez votre passeport et les informations demandées pour obtenir une cotation auprès de n'importe quel bureau <strong>SAAR Assurances</strong> en Côte d'Ivoire.</P>
            </div>

            <div class="mx-auto mb-4" style="max-width: 900px;">
                <h1 class="mb-2" style="color: red;">QUE FAIRE EN CAS DE SINISTRE ?</h1>
                <P class="mb-2" style="font-size: 1.25em; color: black; text-align: justify;">Contactez MAPFRE ASSISTANCIA France au <strong>+33 4 37 37 28 98</strong>.</P>
            </div>

        </div>
    </div>
    <!-- Services End -->

{% endblock content %}