{% extends 'saar_website/layouts/base.html' %}

{% load static %}

{% block content %}

     <!-- Header Start -->
     <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="text-white display-3 mb-4">{{produit.titre}}</h1>
           <!--  <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                {% comment %} <li class="breadcrumb-item"><a href="#">Pages</a></li> {% endcomment %}
                <li class="breadcrumb-item active text-white">{{produit.titre}}</li>
            </ol>   --> 
        </div>
    </div>
    <!-- Header End -->

      <!-- Services Start -->
      <div class="container-fluid bg-white service py-5">
        <div class="container py-5">

            <div class="mx-auto mb-5" style="max-width: 900px;">
                {% comment %} <h1 class="mb-0" style="color: red;">A PROPOS</h1> {% endcomment %}
                <P class="mb-4" style="font-size: 1.25em; color: black; text-align: justify;">{{produit.contenu}}</P>
                <ul style="font-size: 1.25em; color: black; text-align: justify;">
                    <li><strong>Dommages couverts : </strong>Accident, choc, collision, incendie, explosion, vol, vol des accessoires, bris de glace.</li>
                    <li><strong>Assistance : </strong>Soutien à l'assuré en cas d'accident selon les options choisies.</li>
                </ul>

            </div>

            <div class="mx-auto mb-5" style="max-width: 900px;">
                <h1 class="mb-0" style="color: red;">NOS FORMULES</h1>
                {% comment %} <P class="mb-4" style="font-size: 1.25em; color: black;">aszdzaaaaaaaaaaaad</P> {% endcomment %}
                <ul style="font-size: 1.25em; color: black; text-align: justify;">
                    <li><strong>Tierce Simple : </strong>Pour véhicule de tout âge.</li>
                    <li><strong>Tierce SAAR : </strong>Pour véhicule de tout âge.</li>
                    <li><strong>Tierce Confort (Tiers Complet) : </strong>Pour véhicule de tout âge.</li>
                    <li><strong>Dommages tous accidents (Tous Risques) : </strong>Pour véhicule de 0 à 5 ans.</li>
                    <li><strong>Soutrali Auto (mini tous risques) : </strong>Pour véhicule de plus de 5 ans.</li>
                </ul>
            </div>
            

            <div class="mx-auto mb-5" style="max-width: 900px;">
                <h1 class="mb-0" style="color: red;">NOS GARANTIES</h1>
            </div>

        </div>
    </div>
    <!-- Services End -->


{% endblock content %}