{% extends 'saar_website/layouts/base.html' %}

{% load static %}

{% block content %}

     <!-- Header Start -->
     <div class="container-fluid bg-breadcrumb-AC">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="text-white display-3 mb-4">{{produit.titre}}</h1>
           <!--  <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                {% comment %} <li class="breadcrumb-item"><a href="#">Pages</a></li> {% endcomment %}
                <li class="breadcrumb-item active text-white">{{produit.titre}}</li>
            </ol>   --> 
        </div>
    </div>
    <!-- Header End -->

    <!-- Services Start -->
    <div class="mx-5 py-5">
        {% comment %} <div class="container py-5"> {% endcomment %}

            <div class="mx-5 mb-5">
                {% comment %} <h1 class="mb-0" style="color: red;">A PROPOS</h1> {% endcomment %}
                <P class="mb-2" style="font-size: 1.25em; color: black; text-align: justify;">{{produit.contenu}} <br>Une <strong>caution (ou garantie financière)</strong> est un engagement par signature pris par un établissement financier qui permet, en cas de défaillance contractuelle ou de non-respect d'une obligation légale de votre part, de couvrir vos bénéficiaires publics ou privés.</P>
            </div>

            <div class="mx-5 mb-5">
                <h1 class="mb-4" style="color: red;">LES CAUTIONS EMISES PAR LA SAAR </h1>
                <ul style="font-size: 1.25em; color: black; text-align: justify;">
                    <li><strong>Caution pour soumission :</strong> couvre le maître d'ouvrage contre le retrait de l'offre, la non signature ou la non production d'une caution de bonne fin par le soumissionnaire d'un marché.</li>
                    <li><strong>Caution d'avance de démarrage :</strong> assure le remboursement d'une avance consentie au cas où les travaux ne seraient pas exécutés par l'entrepreneur.</li>
                    <li><strong>Caution de bonne fin :</strong> assure que les travaux seront menées conformément au contrat.</li>
                    <li><strong>Caution de retenue de garantie :</strong> permet à l'entrepreneur de ne pas subir une retenue sur le montant qui doit lui être réglé par le maître d'ouvrage</li>
                    <li><strong>Caution bancaires :</strong> pour bénéficier d'un prêt bancaire, certaines banques sollicitent de leurs clients la mise à disposition d'une garantie destinée à assurer le respect des remboursements.</li>                
                </ul>
            </div>


            <div class="mx-5 mb-5">
                <h1 class="mb-2" style="color: red;">QUI PEUT SOUSCRIRE?</h1>
                
            </div>


            <div class="mx-5 mb-5">
                <h1 class="mb-2" style="color: red;">COMMENT SOUSCRIRE A CE PRODUIT?</h1>
                
            </div>

           

        {% comment %} </div> {% endcomment %}
    </div>
    <!-- Services End -->



{% endblock content %}