{% extends 'saar_website/layouts/base.html' %}

{% load static %}

{% block content %}

     <!-- Header Start -->
     <div class="container-fluid bg-breadcrumb-TA">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="text-white display-3 mb-4">{{produit.titre}}</h1>
           <!--  <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                {% comment %} <li class="breadcrumb-item"><a href="#">Pages</a></li> {% endcomment %}
                <li class="breadcrumb-item active text-white">{{produit.titre}}</li>
            </ol>   --> 
        </div>
    </div>
    <!-- Header End -->

      <!-- Services Start -->
      <div class="mx-5 py-5">

        {% comment %} <div class="mx-auto mb-5" style="max-width: 900px;"> {% endcomment %}
        <div class="mx-5 mb-5">

            {% comment %} <h1 class="mb-0" style="color: red;">A PROPOS</h1> {% endcomment %}
            <P style="font-size: 1.25em; color: black; text-align: justify;">{{produit.contenu | safe}}</P>
            <P style="font-size: 1.25em; color: black; text-align: justify;"> <strong>SAAR TAKAFUL</strong> est basée sur l'interdiction de trois éléments :</P>
            <ul style="font-size: 1.25em; color: black; text-align: justify;">
                <li class="mb-4"><strong>Gharar :</strong> Interdiction de toutes les activités qui ont un élément d'incertitude exagéré, d'ambiguitéou ou de déception.</li>
                <li class="mb-4"><strong>Maysir :</strong> Interdiction de toute forme d'arrangement où le droit des contractants dépend d'un évènement aléatoire.</li>
                <li class="mb-4"><strong>Al Riba :</strong> l'Islam interdit le paiement et la perception de l'intérêt.</li>
            </ul>
        </div>

        <div class="mx-5 mb-5">
            <h1 class="mb-4" style="color: red;">NOS PRODUITS</h1> 
            <ul style="font-size: 1.25em; color: black; text-align: justify;">
                <li class="mb-4"><strong>TAKAFUL AUTO</strong>.</li>
                <li class="mb-4"><strong>TAKAFUL INCENDIE</strong>.</li>
                <li class="mb-4"><strong>TAKAFUL VOYAGE</strong>.</li>
                <li class="mb-4"><strong>TAKAFUL SANTE</strong>.</li>
                <li class="mb-4"><strong>TAKAFUL CHANTIER</strong>.</li>
                <li class="mb-4"><strong>TAKAFUL HABITATION</strong>.</li>
                <li class="mb-4"><strong>TAKAFUL INDIVIDUEL ACCIDENT</strong>.</li>
                <li class="mb-4"><strong>TAKAFUL RESPONSABILITE CIVILE</strong>.</li>
                <li class="mb-4"><strong>TAKAFUL MULTIRISQUE ENTREPRISE</strong>.</li>
                <li class="mb-4"><strong>TAKAFUL TRANSPORT</strong>.</li>
                <li class="mb-4"><strong>TAKAFUL RESPONSABILITE DECENNALE</strong>.</li>
            </ul>
        </div>

        <div class="mx-5 mb-5">
            <h1 class="mb-2" style="color: red;">QUI PEUT SOUSCRIRE ?</h1>
            <p style="font-size: 1.25em; color: black; text-align: justify;">Tout personne qui sollicite une assurance alternative à l'assurance classique.</p>
        </div>

        <div class="mx-5 mb-5">
            <h1 class="mb-2" style="color: red;">QUE FAIRE EN CAS DE SINISTRE ?</h1>
            <p style="font-size: 1.25em; color: black; text-align: justify;">Contactez immédiatement la compagnie par un des numéros suivants : <strong>(+225) 07 11 25 29 01, 07 47 84 08 97,</strong> ou <strong>07 11 25 28 61</strong>. </p>
        </div>

    </div>
    <!-- Services End -->


{% endblock content %}