{% extends 'saar_website/layouts/base.html' %}

{% load static %}

{% block content %}

      <!-- Header Start -->
      <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="text-white display-3 mb-4">Le Groupe Saar</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Notre Société</a></li>
                {% comment %} <li class="breadcrumb-item"><a href="#">Pages</a></li> {% endcomment %}
                <li class="breadcrumb-item active text-white">Le Groupe Saar</li>
            </ol>    
        </div>
    </div>
    <!-- Header End -->

   
    <!-- Contact Start -->
    <div class="container-fluid contact bg-light py-5">
        <div class="container py-2">
            {% comment %} <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <h5 class="section-title px-3">Contactez Nous</h5>
                <h1 class="mb-0">Contact Pour Toutes Préoccupations</h1>
            </div> {% endcomment %}

            <div class="row justify-content-center">

                <div class="col-md-6 col-lg-6">
                    <div class="rounded">
                    
                        <img src="{% static 'img/saar_assurances2.jpg' %}" class="img-fluid w-100 h-100" alt="">

                    </div>
                </div>
               <div class="col-md-6 col-lg-6">
                    {% comment %} <h3 class="mb-2">Envoyer un message</h3> {% endcomment %}
                    <p class="mb-4">La Société africaine d’assurances et de réassurances <strong>(SAAR)</strong> a été créée au Cameroun le 27 novembre 1990, avec un capital social de 400 000 000 FCFA.</p>
                    <p class="mb-4">Entreprise dynamique et visionnaire, elle fait partie aujourd’hui des leaders dans la zone CIMA, grâce à un Réseau couvrant neuf pays du continent africain : <strong>CAMEROUN - COTE D’IVOIRE - GUINEE EQUATORIALE - LIBERIA - REPUBLIQUE DE GUINEE - SAO TOME ET PRINCIPE – SENEGAL - TCHAD.</strong> </p>
                    <p class="mb-4">La SAAR offre des produits dans les secteurs de <strong>l’assurance vie, l’assurance non-vie et de l’immobilier</strong>.</p>
                    <p class="mb-4">Dans la Branche non-vie, les garanties couvrent <strong>l’Automobile, la Santé, les Transports, la Responsabilité Civile, et les Risques Divers. Dans la Branche vie, nous proposons des produits en Epargne et en Prévoyance</strong>.</p>
                    <p>La vision de l’entreprise,« World Class African Insurance », se résume en trois points : </p>
                    <ol >
                        <li><strong>Assurer un service aux standards internationaux de l’assurance ;</strong></li>
                        <li><strong>Fournir des solutions adaptées aux besoins de nos clients ;</strong></li>
                        <li><strong>Œuvrer efficacement au développement du continent africain.</strong></li>
                    </ol>
                    
                    <p class="mb-4">Capital le plus précieux, les femmes et les hommes qui travaillent avec nous au quotidien sont au cœur de la protection des personnes et des biens.  </p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>201-500 employés</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Siège social : Douala, Cameroun </p>
                        </div>
                        {% comment %} <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Linkedin : <a class="btn-square btn btn-primary rounded-circle mx-1" target="_blank" href="https://www.linkedin.com/company/saar-assurances-c%C3%B4te-d-ivoire/mycompany/"><i class="fab fa-linkedin-in"></i></a>
                            </p>
                        </div> {% endcomment %}

                    </div>
                </div> 

               
            </div>

            {% comment %} <div class="col-8">
                <h3 class="mb-2">Envoyer un message</h3>
                <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p>
            </div> {% endcomment %}


        </div>
    </div>
    <!-- Contact End -->


    <!-- Travel Guide Start -->
    {% comment %} <div class="container-fluid guide py-5">
        <div class="container py-5">
            <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <h5 class="section-title px-3">CONSEIL D'ADMINISTRATION</h5>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-md-6 col-lg-3">
                    <div class="guide-item">
                        <div class="guide-img">
                            <div class="guide-img-efects">
                                <img src="{% static 'img/dg_saar.jpeg' %}" class="img-fluid w-100 rounded-top" alt="Image">
                            </div>
                            <div class="guide-icon rounded-pill p-2">
                            
                                <a class="btn btn-square btn-primary rounded-circle mx-1" target="_blank" href="https://www.linkedin.com/in/lo%C3%AFc-armel-kengne-wafo-llb-mba-accpa-85236643/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="guide-title text-center rounded-bottom p-4">
                            <div class="guide-title-inner">
                                <h4 class="mt-3">KENGNE Wafo Loïc Armel</h4>
                                <p class="mb-0">Directeur Général</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="guide-item">
                        <div class="guide-img">
                            <div class="guide-img-efects">
                                <img src="{% static 'img/df_saar.jpeg' %}" class="img-fluid w-100 rounded-top" alt="Image">
                            </div>
                            <div class="guide-icon rounded-pill p-2">
                          
                                <a class="btn btn-square btn-primary rounded-circle mx-1" target="_blank" href="https://www.linkedin.com/in/temole-kuate-yannick-cpa-k-23901455/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="guide-title text-center rounded-bottom p-4">
                            <div class="guide-title-inner">
                                <h4 class="mt-3">TEMOLE KUATE Yannick Endelson</h4>
                                <p class="mb-0">Directeur des Ressources</p>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div> {% endcomment %}
    <!-- Travel Guide End -->


{% endblock content %}