{% extends 'saar_website/layouts/base.html' %}

{% load static %}

{% block content %}

      <!-- Header Start -->
    <div class="container-fluid bg-breadcrum">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="text-white display-3 mb-4">Nos Agences</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="{% url 'index' %}" class="text-white">Accueil</a></li>
                {% comment %} <li class="breadcrumb-item"><a href="#">Pages</a></li> {% endcomment %}
                <li class="breadcrumb-item active text-white">Nos Agences</li>
            </ol>    
        </div>
    </div>
    <!-- Header End -->

    <!-- Blog Start -->
    <div class="container-fluid blog py-5">
        <div class="container py-5">
            <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <h5 class="section-title px-3">ABIDJAN</h5>
                <h4 class="mb-4">Nous disposons de {{nbre_agences_abj}} agences à Abidjan</h4>
                {% comment %} <p class="mb-0">Nous disposons de 7 agences à Abidjan dont :
                </p> {% endcomment %}
            </div>
            <div class="row g-4 justify-content-left">

                {% for agence in agences_abj %}

                <div class="col-lg-4 col-md-6">
                    <div class="blog-item">
                        <div class="blog-img">
                            <div class="blog-img-inner">
                                <img class="img-fluid w-100 rounded-top" src="{{ agence.path.url }}" alt="Image">
                                <div class="blog-icon">
                                    <a href="{{ agence.localisation }}" target="_blank" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                </div>

                            </div>

                        </div>
                        <div class="blog-content border border-top-0 rounded-bottom bg-light p-4">
                            <a href="#"  class="h4">{{ agence.titre }}</a>
                            <p class="my-3">{{ agence.situation }}</p>
                            <p class="my-3">{{ agence.contact }}</p>
                            <a href="{{ agence.localisation }}" target="_blank" class="btn btn-primary rounded-pill py-2 px-4">Itinéraire</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                                
            </div>
        </div>
    </div>


        <!-- Blog Start -->
        <div class="container-fluid blog py-0 pb-5">
            <div class="container py-0">
                <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                    <h5 class="section-title px-3">A L'INTERIEUR</h5>
                    <h4 class="mb-4">Nous disposons de {{nbre_agences_int}} agences à l'intérieur</h4>
                </div>
                <div class="row g-4 justify-content-left">
    
                    {% for agence in agences_int %}
    
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <div class="blog-img-inner">
                                    <img class="img-fluid w-100 rounded-top" src="{{ agence.path.url }}" alt="Image">
                                    <div class="blog-icon">
                                        <a href="{{ agence.localisation }}" target="_blank" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                    </div>

                                </div>

                            </div>
                            <div class="blog-content border border-top-0 rounded-bottom bg-light p-4">
                                <a href="#"  class="h4">{{ agence.titre }}</a>
                                <p class="my-3">{{ agence.situation }}</p>
                                <p class="my-3">{{ agence.contact }}</p>
                                <a href="{{ agence.localisation }}" target="_blank" class="btn btn-primary rounded-pill py-2 px-4">Itinéraire</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                                    
                </div>
            </div>
        </div>




        <!-- Blog Start -->
        <div class="container-fluid blog py-5">
            <div class="container py-5">
                <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                    <h5 class="section-title px-3">NOS AGENTS GENERAUX</h5>
                </div>
                
                <table class="table table-striped">
                    <thead>
                      <tr class="bg-primary" style="color: white; font-size: calc(1rem + 0.3vw);">
                        <th scope="col">DESIGNATION</th>
                        <th scope="col">LOCALITE</th>
                        <th scope="col">CONTACTS</th>
                      </tr>
                    </thead>
                    <tbody>

                        
                        {% for agent in agent_generaux %}
                        <tr style="color: var(--bs-primary); font-size: calc(1rem + 0.3vw);">
                            <td>{{agent.designation}}</td>
                            <td>{{agent.localite}}</td>
                            <td>{{agent.contact}}</td>
                          </tr>
                        {% endfor %}
                    </tbody>
                  </table>

            </div>
        </div> 



 

{% endblock content %}

