{% extends 'saar_website/layouts/base.html' %}

{% load static %}

{% block content %}
    
           <!-- About Start -->
           {% comment %} <div class="container-fluid about py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5">
                        <div class="h-100" style="border: 50px solid; border-color: transparent #13357B transparent #13357B;">
                            <img src="{% static ' {% static ' %}'img/about-img.jpg' %} " class="img-fluid w-100 h-100" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7" style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(img/about-img-1.png);">
                        <h5 class="section-about-title pe-3">About Us</h5>
                        <h1 class="mb-4">Welcome to <span class="text-primary">Travela</span></h1>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, dolorum, doloribus sunt dicta, officia voluptatibus libero necessitatibus natus impedit quam ullam assumenda? Id atque iste consectetur. Commodi odit ab saepe!</p>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quos voluptatem suscipit neque enim, doloribus ipsum rem eos distinctio, dignissimos nisi saepe nulla? Libero numquam perferendis provident placeat molestiae quia?</p>
                        <div class="row gy-2 gx-4 mb-4">
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>First Class Flights</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Handpicked Hotels</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>5 Star Accommodations</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Latest Model Vehicles</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>150 Premium City Tours</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>24/7 Service</p>
                            </div>
                        </div>
                        <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="">Read More</a>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        <!-- About End -->


         <!-- Blog Start -->
         <div class="container-fluid blog py-5">
            <div class="container py-5">
                <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                    <h5 class="section-title px-3">Nos produits</h5>
                    <h1 class="mb-4">Découvrez nos offres</h1>
                    {% comment %} <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti deserunt tenetur sapiente atque. Magni non explicabo beatae sit, vel reiciendis consectetur numquam id similique sunt error obcaecati ducimus officia maiores.
                    </p> {% endcomment %}
                </div>
                {% comment %} <div class="row g-4 mb-3 justify-content-center"> {% endcomment %}
                <div class="row g-4 mb-3">
                    
                    {% for produit in produits %}

                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <div class="blog-img-inner">
                                    {% comment %} <img class="img-fluid w-100 rounded-top" src="{% static 'img/assurance_auto.jpg' %}" alt="Image"> {% endcomment %}
                                    <img class="img-fluid w-100 rounded-top" src="{{produit.path.url}}" alt="Image">
                                    <div class="blog-icon">
                                        <a href="{% url 'produit' numero=produit.pk %}" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-content border border-top-0 rounded-bottom p-4">
                                <a href="{% url 'produit' numero=produit.pk %}" class="h4">{{produit.titre}}</a>
                                <p class="my-3" style="text-align: justify;">{{ produit.contenu | safe | truncatechars:200 }}</p>
                                <a href="{% url 'produit' numero=produit.pk %}" class="btn btn-primary rounded-pill py-2 px-4">Lire plus</a>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>

    
            </div>
        </div>
        <!-- Blog End -->


          <!-- Packages Start -->
          <div class="container-fluid packages py-5">
            <div class="container py-5">
                <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                    <h5 class="section-title px-3">Actualités</h5>
                    <h1 class="mb-0">Nos dernières activités</h1>
                </div>
                <div class="packages-carousel owl-carousel">

                    
                   {% for actualite in actualites %}
                    <div class="packages-item">
                        <div class="packages-img">

                            <img src="{{actualite.path.url}}" class="img-fluid w-100 rounded-top test_img" alt="Image">

                        </div>
                        <div class="packages-content bg-light" style="width: 415px; height:350px;">
                            <div class="p-4 pb-0">
                                <h5 class="mb-0">{{actualite.titre}}</h5>
                                <small class="text-uppercase">Publié le {{actualite.date_publication|date:"d F Y"}}</small>
                               
                                <p class="mb-4" style="text-align: justify;">{{actualite.contenu}}</p>
                            </div>
                        
                        </div>
                    </div>
                    {% endfor %} 
                </div>
            </div>
        </div>
        <!-- Packages End -->



        <!-- Testimonial Start -->
        <div class="container-fluid testimonial py-5">
        <div class="container py-5">
            <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <h5 class="section-title px-3">Témoignages</h5>
                <h1 class="mb-0">Ce que disent nos clients !!!</h1>
            </div>
            <div class="testimonial-carousel owl-carousel">
                <div class="testimonial-item text-center rounded pb-4">
                    <div class="testimonial-comment bg-light rounded p-4">
                        <p class="text-center mb-5">La meilleure depuis des années, je suis en partenariat avec eux, ils sont aussi à Abidjan sud Bietry en face de l'église catholique Notre Dame d'Afrique
                        </p>
                    </div>
                    <div class="testimonial-img p-1">
                        {% comment %} <img src="{% static 'img/testimonial-1.jpg' %}" class="img-fluid rounded-circle" alt="Image"> {% endcomment %}
                        <i class="fa fa-user-circle" style="font-size: 90px;"></i>
                    </div>
                    <div style="margin-top: -35px;">
                        <h5 class="mb-0">Christ Alim</h5>
                        <p class="mb-0">Abidjan, Côte d'Ivoire</p>
                        {% comment %} <div class="d-flex justify-content-center">
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                        </div> {% endcomment %}
                    </div>
                </div>
                <div class="testimonial-item text-center rounded pb-4">
                    <div class="testimonial-comment bg-light rounded p-4">
                        <p class="text-center mb-5">Je viens de prendre mon assurance à l’instant très rapide et fiable
                        </p>
                    </div>
                    <div class="testimonial-img p-1">
                        {% comment %} <img src="{% static 'img/testimonial-2.jpg' %}" class="img-fluid rounded-circle" alt="Image"> {% endcomment %}
                        <i class="fa fa-user-circle" style="font-size: 90px;"></i>
                    </div>
                    <div style="margin-top: -35px;">
                        <h5 class="mb-0">Igor Passport</h5>
                        <p class="mb-0">Abidjan, Côte d'Ivoire</p>
                        {% comment %} <div class="d-flex justify-content-center">
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                        </div> {% endcomment %}
                    </div>
                </div>
                <div class="testimonial-item text-center rounded pb-4">
                    <div class="testimonial-comment bg-light rounded p-4">
                        <p class="text-center mb-5">Wahou quelle innovation pour joker bailleur, vous êtes les meilleurs
                        </p>
                    </div>
                    <div class="testimonial-img p-1">
                        {% comment %} <img src="{% static 'img/testimonial-3.jpg' %}" class="img-fluid rounded-circle" alt="Image"> {% endcomment %}
                        <i class="fa fa-user-circle" style="font-size: 90px;"></i>
                    </div>
                    <div style="margin-top: -35px;">
                        <h5 class="mb-0">Sidiki Guikas Kouyate</h5>
                        <p class="mb-0">Abidjan, Côte d'Ivoire</p>
                        {% comment %} <div class="d-flex justify-content-center">
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                        </div> {% endcomment %}
                    </div>
                </div>
                <div class="testimonial-item text-center rounded pb-4">
                    <div class="testimonial-comment bg-light rounded p-4">
                        <p class="text-center mb-5">Je dis un grand merci à Saar Assurance Vie. Car toutes mes préocupations ont été résolu en un temps record. Mille et une fois merci pour votre réception
                        </p>
                    </div>
                    <div class="testimonial-img p-1">
                        {% comment %} <img src="{% static 'img/testimonial-4.jpg' %}" class="img-fluid rounded-circle" alt="Image"> {% endcomment %}
                        <i class="fa fa-user-circle" style="font-size: 90px;"></i>
                    </div>
                    <div style="margin-top: -35px;">
                        <h5 class="mb-0">Lea Monet</h5>
                        <p class="mb-0">Abidjan, Côte d'Ivoire</p>
                        {% comment %} <div class="d-flex justify-content-center">
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


  <!-- Tour Booking Start -->
  <div class="container-fluid booking py-5">

    
    <div class="container py-5">

        <h1 class="text-white text-center mb-5">Déclarez votre sinistre</h1>
        {% comment %} <br> {% endcomment %}



        <div class="row g-5">
            <div class="col-lg-6">

                <h2 class="mb-4 text-white text-center">Par téléphone</h2>

                <h5 class="mb-2 text-white text-center">Nous sommes là pour vous aider ! En cas d'incident, contactez notre équipe dédiée au :  </h5>

                <div class="rounded p-4">
                    <div class="text-center mb-2">
                        <i class="fa fa-phone-alt fa-3x text-primary mb-3"></i>
                        <h4 class="text-white">Mobile</h4>
                        <p class="mb-0 text-white">+225 07 11 25 28 61</p>
                        <p class="mb-0 text-white">+225 07 47 84 08 97</p>
                        <p class="mb-0 text-white">+225 27 22 50 81 50</p>
                    </div>
                </div>

                <p class="mb-4 text-white text-center">*Du lundi au vendredi de 8h30 à 17h30 et le samedi de 9h à 12h30</p>
                <p class="mb-4 text-white text-center">Nous vous assisterons rapidement et professionnellement tout au long du processus. </p>
            </div>

            <div class="col-lg-6">
                <h2 class="text-white mb-4 text-center">En ligne</h2>
                <div class="mx-auto text-center" style="max-width: 900px;">
                    <p class="text-white mb-5">Déclarez votre sinistre en ligne de manière efficace et rapide avec la possibilité de vous faire contacter par un gestionnaire sinistre en vue du traitement de votre réclammation.
                    </p>
                    <div class="d-flex align-items-center justify-content-center">
                        <a class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5" href="{% url 'reclamation' %}">Déclarer votre sinistre</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div> 
<!-- Tour Booking End -->




     <!-- Subscribe Start -->
      {% comment %} <div class="container-fluid subscribe py-5">
        <div class="container text-center py-5">
            <div class="mx-auto text-center" style="max-width: 900px;">
                <h1 class="text-white mb-4">Déclarer votre sinistre</h1>
                <p class="text-white mb-5">Déclarez votre sinistre de manière efficace et rapide avec la possibilité de vous faire contacter par un gestionnaire sinistre en vue du traitement de votre réclammation.
                </p>
              
                <div class="d-flex align-items-center justify-content-center">
                    <a class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5" href="{% url 'reclamation' %}">Déclarer votre sinistre</a>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- Subscribe End -->

{% endblock content %}
    



