{% extends 'saar_website/layouts/base.html' %}

{% load static %}

{% block content %}
    
           <!-- About Start -->
           {% comment %} <div class="container-fluid about py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5">
                        <div class="h-100" style="border: 50px solid; border-color: transparent #13357B transparent #13357B;">
                            <img src="{% static ' {% static ' %}'img/about-img.jpg' %} " class="img-fluid w-100 h-100" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7" style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(img/about-img-1.png);">
                        <h5 class="section-about-title pe-3">About Us</h5>
                        <h1 class="mb-4">Welcome to <span class="text-primary">Travela</span></h1>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, dolorum, doloribus sunt dicta, officia voluptatibus libero necessitatibus natus impedit quam ullam assumenda? Id atque iste consectetur. Commodi odit ab saepe!</p>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quos voluptatem suscipit neque enim, doloribus ipsum rem eos distinctio, dignissimos nisi saepe nulla? Libero numquam perferendis provident placeat molestiae quia?</p>
                        <div class="row gy-2 gx-4 mb-4">
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>First Class Flights</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Handpicked Hotels</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>5 Star Accommodations</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Latest Model Vehicles</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>150 Premium City Tours</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>24/7 Service</p>
                            </div>
                        </div>
                        <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="">Read More</a>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        <!-- About End -->


         <!-- Blog Start -->
         <div class="container-fluid blog py-5">
            <div class="container py-5">
                <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                    <h5 class="section-title px-3">Nos produits</h5>
                    <h1 class="mb-4">Découvrez nos offres</h1>
                    {% comment %} <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti deserunt tenetur sapiente atque. Magni non explicabo beatae sit, vel reiciendis consectetur numquam id similique sunt error obcaecati ducimus officia maiores.
                    </p> {% endcomment %}
                </div>
                <div class="row g-4 mb-3 justify-content-center">
                    
                    {% for produit in produits %}

                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <div class="blog-img-inner">
                                    {% comment %} <img class="img-fluid w-100 rounded-top" src="{% static 'img/assurance_auto.jpg' %}" alt="Image"> {% endcomment %}
                                    <img class="img-fluid w-100 rounded-top" src="{{produit.path.url}}" alt="Image">
                                    <div class="blog-icon">
                                        <a href="{% url 'produit' numero=produit.pk %}" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-content border border-top-0 rounded-bottom p-4">
                                <a href="{% url 'produit' numero=produit.pk %}" class="h4">{{produit.titre}}</a>
                                <p class="my-3" style="text-align: justify;">{{ produit.contenu | truncatechars:200 }}</p>
                                <a href="{% url 'produit' numero=produit.pk %}" class="btn btn-primary rounded-pill py-2 px-4">Lire plus</a>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                    <!-- 

                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <div class="blog-img-inner">
                                    <img class="img-fluid w-100 rounded-top" src="{% static 'img/assurance_auto.jpg' %}" alt="Image">
                                    <div class="blog-icon">
                                        <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                    </div>
                                </div>
                                {% comment %} <div class="blog-info d-flex align-items-center border border-start-0 border-end-0">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>28 Jan 2050</small>
                                    <a href="#" class="btn-hover flex-fill text-center text-white border-end py-2"><i class="fa fa-thumbs-up text-primary me-2"></i>1.7K</a>
                                    <a href="#" class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-comments text-primary me-2"></i>1K</a>
                                </div> {% endcomment %}
                            </div>
                            <div class="blog-content border border-top-0 rounded-bottom p-4">
                                {% comment %} <p class="mb-3">Posted By: Royal Hamblin </p> {% endcomment %}
                                <a href="#" class="h4">Assurance Automobile</a>
                                <p class="my-3">{{ assurance_auto | truncatechars:200 }}</p>
                                <a href="#" class="btn btn-primary rounded-pill py-2 px-4">Lire plus</a>
                            </div>
                        </div>
                    </div>

                    -->

                    <!--     <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <div class="blog-img-inner">
                                    <img class="img-fluid w-100 rounded-top" src="{% static 'img/thumbnail_sante.jpg' %}" alt="Image">
                                    <div class="blog-icon">
                                        <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                    </div>
                                </div>
                                {% comment %} <div class="blog-info d-flex align-items-center border border-start-0 border-end-0">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>28 Jan 2050</small>
                                    <a href="#" class="btn-hover flex-fill text-center text-white border-end py-2"><i class="fa fa-thumbs-up text-primary me-2"></i>1.7K</a>
                                    <a href="#" class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-comments text-primary me-2"></i>1K</a>
                                </div> {% endcomment %}
                            </div>
                            <div class="blog-content border border-top-0 rounded-bottom p-4">
                                {% comment %} <p class="mb-3">Posted By: Royal Hamblin </p> {% endcomment %}
                                <a href="#" class="h4">Assurance Santé</a>
                                <p class="my-3">{{ assurance_sante | truncatechars:220 }}</p>
                                <a href="#" class="btn btn-primary rounded-pill py-2 px-4">Lire plus</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <div class="blog-img-inner">
                                    <img class="img-fluid w-100 rounded-top" src="{% static 'img/individuel_accident.jpg' %}" alt="Image">
                                    <div class="blog-icon">
                                        <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                    </div>
                                </div>
                                {% comment %} <div class="blog-info d-flex align-items-center border border-start-0 border-end-0">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>28 Jan 2050</small>
                                    <a href="#" class="btn-hover flex-fill text-center text-white border-end py-2"><i class="fa fa-thumbs-up text-primary me-2"></i>1.7K</a>
                                    <a href="#" class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-comments text-primary me-2"></i>1K</a>
                                </div> {% endcomment %}
                            </div>
                            <div class="blog-content border border-top-0 rounded-bottom p-4">
                                {% comment %} <p class="mb-3">Posted By: Royal Hamblin </p> {% endcomment %}
                                <a href="#" class="h4">Individuelle Accidents</a>
                                <p class="my-3">{{ individuelle_accidents | truncatechars:200 }}</p>
                                <a href="#" class="btn btn-primary rounded-pill py-2 px-4">Lire plus</a>
                            </div>
                        </div>
                    </div>
                    -->
                </div>

                <!--
                <div class="row g-4 mb-3 justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <div class="blog-img-inner">
                                    <img class="img-fluid w-100 rounded-top" src="{% static 'img/assurance_voyage_2.png' %}" alt="Image">
                                    <div class="blog-icon">
                                        <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                    </div>
                                </div>
                                {% comment %} <div class="blog-info d-flex align-items-center border border-start-0 border-end-0">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>28 Jan 2050</small>
                                    <a href="#" class="btn-hover flex-fill text-center text-white border-end py-2"><i class="fa fa-thumbs-up text-primary me-2"></i>1.7K</a>
                                    <a href="#" class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-comments text-primary me-2"></i>1K</a>
                                </div> {% endcomment %}
                            </div>
                            <div class="blog-content border border-top-0 rounded-bottom p-4">
                                {% comment %} <p class="mb-3">Posted By: Royal Hamblin </p> {% endcomment %}
                                <a href="#" class="h4">Assurance Voyage</a>
                                <p class="my-3">{{ assurance_voyage | truncatechars:200 }}</p>
                                <a href="#" class="btn btn-primary rounded-pill py-2 px-4">Lire plus</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <div class="blog-img-inner">
                                    <img class="img-fluid w-100 rounded-top" src="{% static 'img/assurance_habita.jpg' %}" alt="Image">
                                    <div class="blog-icon">
                                        <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                    </div>
                                </div>
                                {% comment %} <div class="blog-info d-flex align-items-center border border-start-0 border-end-0">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>28 Jan 2050</small>
                                    <a href="#" class="btn-hover flex-fill text-center text-white border-end py-2"><i class="fa fa-thumbs-up text-primary me-2"></i>1.7K</a>
                                    <a href="#" class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-comments text-primary me-2"></i>1K</a>
                                </div> {% endcomment %}
                            </div>
                            <div class="blog-content border border-top-0 rounded-bottom p-4">
                                {% comment %} <p class="mb-3">Posted By: Royal Hamblin </p> {% endcomment %}
                                <a href="#" class="h4">Assurance Habitation</a>
                                <p class="my-3">{{assurance_habitation | truncatechars:200 }}</p>
                                <a href="#" class="btn btn-primary rounded-pill py-2 px-4">Lire plus</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <div class="blog-img-inner">
                                    <img class="img-fluid w-100 rounded-top" src="{% static 'img/assurance_transport.jpg' %}" alt="Image">
                                    <div class="blog-icon">
                                        <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                    </div>
                                </div>
                                {% comment %} <div class="blog-info d-flex align-items-center border border-start-0 border-end-0">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>28 Jan 2050</small>
                                    <a href="#" class="btn-hover flex-fill text-center text-white border-end py-2"><i class="fa fa-thumbs-up text-primary me-2"></i>1.7K</a>
                                    <a href="#" class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-comments text-primary me-2"></i>1K</a>
                                </div> {% endcomment %}
                            </div>
                            <div class="blog-content border border-top-0 rounded-bottom p-4">
                                {% comment %} <p class="mb-3">Posted By: Royal Hamblin </p> {% endcomment %}
                                <a href="#" class="h4">Assurance Transport</a>
                                <p class="my-3">{{ assurance_transport | truncatechars:220 }}</p>
                                <a href="#" class="btn btn-primary rounded-pill py-2 px-4">Lire plus</a>
                            </div>
                        </div>
                    </div>
                </div>

                -->

                <!--
                <div class="row g-4 justify-content-start">
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <div class="blog-img-inner">
                                    <img class="img-fluid w-100 rounded-top" src="{% static 'img/assurance_caution.jpg' %}" alt="Image">
                                    <div class="blog-icon">
                                        <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                    </div>
                                </div>
                                {% comment %} <div class="blog-info d-flex align-items-center border border-start-0 border-end-0">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>28 Jan 2050</small>
                                    <a href="#" class="btn-hover flex-fill text-center text-white border-end py-2"><i class="fa fa-thumbs-up text-primary me-2"></i>1.7K</a>
                                    <a href="#" class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-comments text-primary me-2"></i>1K</a>
                                </div> {% endcomment %}
                            </div>
                            <div class="blog-content border border-top-0 rounded-bottom p-4">
                                {% comment %} <p class="mb-3">Posted By: Royal Hamblin </p> {% endcomment %}
                                <a href="#" class="h4">Assurance Caution</a>
                                <p class="my-3">{{ assurance_caution | truncatechars:220 }}</p>
                                <a href="#" class="btn btn-primary rounded-pill py-2 px-4">Lire plus</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <div class="blog-img-inner">
                                    <img class="img-fluid w-100 rounded-top" src="{% static 'img/RC.jpeg' %}" alt="Image">
                                    <div class="blog-icon">
                                        <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                    </div>
                                </div>
                                {% comment %} <div class="blog-info d-flex align-items-center border border-start-0 border-end-0">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>28 Jan 2050</small>
                                    <a href="#" class="btn-hover flex-fill text-center text-white border-end py-2"><i class="fa fa-thumbs-up text-primary me-2"></i>1.7K</a>
                                    <a href="#" class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-comments text-primary me-2"></i>1K</a>
                                </div> {% endcomment %}
                            </div>
                            <div class="blog-content border border-top-0 rounded-bottom p-4">
                                {% comment %} <p class="mb-3">Posted By: Royal Hamblin </p> {% endcomment %}
                                <a href="#" class="h4">Risques Divers</a>
                                <p class="my-3">{{ risques_divers | truncatechars:200 }}</p>
                                <a href="#" class="btn btn-primary rounded-pill py-2 px-4">Lire plus</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <div class="blog-img-inner">
                                    <img class="img-fluid w-100 rounded-top" src="{% static 'img/assurance_halal.jpg' %}" alt="Image">
                                    <div class="blog-icon">
                                        <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                    </div>
                                </div>
                                {% comment %} <div class="blog-info d-flex align-items-center border border-start-0 border-end-0">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>28 Jan 2050</small>
                                    <a href="#" class="btn-hover flex-fill text-center text-white border-end py-2"><i class="fa fa-thumbs-up text-primary me-2"></i>1.7K</a>
                                    <a href="#" class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-comments text-primary me-2"></i>1K</a>
                                </div> {% endcomment %}
                            </div>
                            <div class="blog-content border border-top-0 rounded-bottom p-4">
                                {% comment %} <p class="mb-3">Posted By: Royal Hamblin </p> {% endcomment %}
                                <a href="#" class="h4">Saar TAKAFUL</a>
                                {% comment %} <p class="my-3">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam eos</p> {% endcomment %}
                                <p class="my-3">{{ saar_takaful | truncatechars:200 }}</p>
                                <a href="#" class="btn btn-primary rounded-pill py-2 px-4">Lire plus</a>
                            </div>
                        </div>
                    </div> 
                </div>
                -->
            </div>
        </div>
        <!-- Blog End -->


          <!-- Packages Start -->
          <div class="container-fluid packages py-5">
            <div class="container py-5">
                <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                    <h5 class="section-title px-3">Actualités</h5>
                    <h1 class="mb-0">Nos dernières activités</h1>
                </div>
                <div class="packages-carousel owl-carousel">

                    
                   {% for actualite in actualites %}
                    <div class="packages-item">
                        <div class="packages-img">

                            <img src="{{actualite.path.url}}" class="img-fluid w-100 rounded-top test_img" alt="Image">

                        </div>
                        <div class="packages-content bg-light" style="width: 415px; height:350px;">
                            <div class="p-4 pb-0">
                                <h5 class="mb-0">{{actualite.titre}}</h5>
                                <small class="text-uppercase">Publié le {{actualite.date_publication|date:"d F Y"}}</small>
                               
                                <p class="mb-4" style="text-align: justify;">{{actualite.contenu}}</p>
                            </div>
                        
                        </div>
                    </div>
                    {% endfor %} 
                        
                    
{% comment %} 
                    <div class="packages-item">
                        <div class="packages-img">

                            <img src="{% static 'img/actualite-1.jpeg' %}" class="img-fluid w-100 rounded-top test_img" alt="Image">

                        </div>
                        <div class="packages-content bg-light" style="width: 415px; height:350px;">
                            <div class="p-4 pb-0">
                                <h5 class="mb-0">Fête du travail</h5>
                                <small class="text-uppercase">Publié le 02 Mai 2024</small>
                               
                                <p class="mb-4">{{actualite_1}}</p>
                            </div>
                        
                        </div>
                    </div> {% endcomment %}


                    {% comment %} <div class="packages-item">
                        <div class="packages-img">
                            <img src="{% static 'img/actualite-2.jpeg' %}" class="img-fluid w-100 rounded-top test_img" alt="Image">
                           
                        </div>
                        <div class="packages-content bg-light" style="width: 415px; height:350px;">
                            <div class="p-4 pb-0">
                                <h5 class="mb-0">𝗦𝗲́𝗮𝗻𝗰𝗲 𝗱𝗲 𝗧𝗿𝗮𝘃𝗮𝗶𝗹 𝗜𝗻𝘀𝗽𝗶𝗿𝗮𝗻𝘁𝗲 !</h5>
                                <small class="text-uppercase">Publié le 13 Mars 2024</small>
                               
                                <p class="mb-4">{{actualite_2}}</p>
                            </div>
                           
                        </div>
                    </div> {% endcomment %}

                    {% comment %} <div class="packages-item">
                        <div class="packages-img">
                            <img src="{% static 'img/actualite-3.jpeg' %}" class="img-fluid test_img w-100 rounded-top" alt="Image">
                        
                        </div>
                        <div class="packages-content bg-light" style="width: 415px; height:350px;">
                            <div class="p-4 pb-0">
                                <h5 class="mb-0">Déjeuner de présentation de SAAR_TAKAFUL</h5>
                                <small class="text-uppercase">Publié le 08 Octobre 2023</small>
                                
                                <p class="mb-4">{{actualite_3}}</p>
                            </div>
                           
                        </div>
                    </div> {% endcomment %}
                  


                </div>
            </div>
        </div>
        <!-- Packages End -->



        <!-- Testimonial Start -->
        <div class="container-fluid testimonial py-5">
        <div class="container py-5">
            <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <h5 class="section-title px-3">Témoignages</h5>
                <h1 class="mb-0">Ce que disent nos clients !!!</h1>
            </div>
            <div class="testimonial-carousel owl-carousel">
                <div class="testimonial-item text-center rounded pb-4">
                    <div class="testimonial-comment bg-light rounded p-4">
                        <p class="text-center mb-5">La meilleure depuis des années, je suis en partenariat avec eux, ils sont aussi à Abidjan sud Bietry en face de l'église catholique Notre Dame d'Afrique
                        </p>
                    </div>
                    <div class="testimonial-img p-1">
                        {% comment %} <img src="{% static 'img/testimonial-1.jpg' %}" class="img-fluid rounded-circle" alt="Image"> {% endcomment %}
                        <i class="fa fa-user-circle" style="font-size: 90px;"></i>
                    </div>
                    <div style="margin-top: -35px;">
                        <h5 class="mb-0">Christ Alim</h5>
                        <p class="mb-0">Abidjan, Côte d'Ivoire</p>
                        {% comment %} <div class="d-flex justify-content-center">
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                        </div> {% endcomment %}
                    </div>
                </div>
                <div class="testimonial-item text-center rounded pb-4">
                    <div class="testimonial-comment bg-light rounded p-4">
                        <p class="text-center mb-5">Je viens de prendre mon assurance à l’instant très rapide et fiable
                        </p>
                    </div>
                    <div class="testimonial-img p-1">
                        {% comment %} <img src="{% static 'img/testimonial-2.jpg' %}" class="img-fluid rounded-circle" alt="Image"> {% endcomment %}
                        <i class="fa fa-user-circle" style="font-size: 90px;"></i>
                    </div>
                    <div style="margin-top: -35px;">
                        <h5 class="mb-0">Igor Passport</h5>
                        <p class="mb-0">Abidjan, Côte d'Ivoire</p>
                        {% comment %} <div class="d-flex justify-content-center">
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                        </div> {% endcomment %}
                    </div>
                </div>
                <div class="testimonial-item text-center rounded pb-4">
                    <div class="testimonial-comment bg-light rounded p-4">
                        <p class="text-center mb-5">Wahou quelle innovation pour joker bailleur, vous êtes les meilleurs
                        </p>
                    </div>
                    <div class="testimonial-img p-1">
                        {% comment %} <img src="{% static 'img/testimonial-3.jpg' %}" class="img-fluid rounded-circle" alt="Image"> {% endcomment %}
                        <i class="fa fa-user-circle" style="font-size: 90px;"></i>
                    </div>
                    <div style="margin-top: -35px;">
                        <h5 class="mb-0">Sidiki Guikas Kouyate</h5>
                        <p class="mb-0">Abidjan, Côte d'Ivoire</p>
                        {% comment %} <div class="d-flex justify-content-center">
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                        </div> {% endcomment %}
                    </div>
                </div>
                <div class="testimonial-item text-center rounded pb-4">
                    <div class="testimonial-comment bg-light rounded p-4">
                        <p class="text-center mb-5">Je dis un grand merci à Saar Assurance Vie. Car toutes mes préocupations ont été résolu en un temps record. Mille et une fois merci pour votre réception
                        </p>
                    </div>
                    <div class="testimonial-img p-1">
                        {% comment %} <img src="{% static 'img/testimonial-4.jpg' %}" class="img-fluid rounded-circle" alt="Image"> {% endcomment %}
                        <i class="fa fa-user-circle" style="font-size: 90px;"></i>
                    </div>
                    <div style="margin-top: -35px;">
                        <h5 class="mb-0">Lea Monet</h5>
                        <p class="mb-0">Abidjan, Côte d'Ivoire</p>
                        {% comment %} <div class="d-flex justify-content-center">
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

{% endblock content %}
    



