{% extends 'saar_website/layouts/base.html' %}

{% load static %}

{% block content %}

      <!-- Header Start -->
      <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="text-white display-3 mb-4">Nos Valeurs</h3>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Notre Société</a></li>
                {% comment %} <li class="breadcrumb-item"><a href="#">Pages</a></li> {% endcomment %}
                <li class="breadcrumb-item active text-white">Nos Valeurs</li>
            </ol>    
        </div>
    </div>
    <!-- Header End -->

   
    <!-- Contact Start -->
    <div class="container-fluid contact bg-light py-5">
        <div class="container py-2">
            {% comment %} <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <h5 class="section-title px-3">Contactez Nous</h5>
                <h1 class="mb-0">Contact Pour Toutes Préoccupations</h1>
            </div> {% endcomment %}

            <div class="row justify-content-center  mb-5">

                <div class="col-md-6 col-lg-6">
                    <div class="rounded">
                    
                        <img src="{% static 'img/saar-valeurs.jpg' %}" class="img-fluid w-100 h-100" alt="">

                    </div>
                </div>
                
               
            </div>

            <div class="row justify-content-center">

                <div class="col-md-12 col-lg-12">
                    <div class="alert alert-success" role="alert">
                        <h2>1 | PROFESSIONNALISME</h2>
                        <p>SAAR Assurances Côte d’Ivoire travaille quotidiennement en sachant que le client est « Roi» et a des besoins. Nos équipes, à qui nous inculquons cette valeur, sont outillées pour faire face aux différentes situations auxquelles elles sont confrontées.</p>
                    </div>

                    <div class="alert alert-primary" role="alert">
                        <h2>2 | EXCELLENT SERVICE QUALITE</h2>
                        <p>Chez SAAR Assurances Côte d’Ivoire, nous vous apportons le support efficace nécessaire pour répondre à vos besoins de sécurité et de vos biens. Chaque jour, nous travaillons à identifier les besoins de couverture, et à les comprendre, pour apporter à la population africaine une valeur ajoutée dans son quotidien, à travers les produits et services les mieux adaptés et à renforcer notre proximité avec nos clients afin de construire ensemble une relation durable.</p>
                    </div>

                    <div class="alert alert-info" role="alert">
                        <h2>3 | RESPECTER NOS ENGAGEMENTS</h2>
                        <p>La SAAR Assurances Côte d’Ivoire conscient que la confiance de nos clients se gagne en honorant nos engagements, et qu’une relation solide est un gage de progrès. Ainsi, chaque collaborateur s’engage à satisfaire ses clients à tout moment et en tout lieu.</p>
                    </div>

                    <div class="alert alert-warning" role="alert">
                        <h2>4 | L'ESPRIT D'EQUIPE</h2>
                        <p>SAAR Assurances Côte d’Ivoire est une organisation composée d’hommes et de femmes d’âges, de cultures et de professions diverses. Ce qui les relie, c’est une culture d’entreprise qui respecte la liberté d’expression de chacun et favorise les relations horizontales par opposition aux structures hiérarchiques rigides.</p>
                    </div>

                    <div class="alert alert-danger" role="alert">
                        <h2>5 | INNOVATION</h2>
                        <p>Consciente que l’assurance est un marché en évolution progressive en Afrique et que de nombreux défis doivent être relevés, SAAR développe des produits pour permettre à tous les segments de la population d’avoir accès à l’assurance.</p>
                    </div>
                </div>
                
            </div>    

            {% comment %} <div class="col-8">
                <h3 class="mb-2">Envoyer un message</h3>
                <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p>
            </div> {% endcomment %}


        </div>
    </div>
    <!-- Contact End -->


    


{% endblock content %}