{% load static %}
        <!-- Footer Start -->
        <div class="container-fluid footer py-5">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-md-8 col-lg-8 col-xl-4">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-white">Adresse</h4>
                            <a href="#"><i class="fas fa-home me-2"></i> 7eme Tranche, Cocody II Plateaux Aghien, Abidjan, Côte d'Ivoire</a>
                            <a href="#"><i class="fas fa-envelope me-2"></i> saarci@saar-assurances.com</a>
                            <a href=""><i class="fas fa-phone me-2"></i> +225 27 22 50 81 50</a>
                            {% comment %} <a href="" class="mb-3"><i class="fas fa-print me-2"></i> +012 345 67890</a> {% endcomment %}
                            <div class="d-flex align-items-center">
                                <i class="fas fa-share fa-2x text-white me-2"></i>
                                <a class="btn-square btn btn-primary rounded-circle mx-1" target="_blank" href="https://www.facebook.com/saarassurances.ci"><i class="fab fa-facebook-f"></i></a>
                                {% comment %} <a class="btn-square btn btn-primary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn-square btn btn-primary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a> {% endcomment %}
                                <a class="btn-square btn btn-primary rounded-circle mx-1" target="_blank" href="https://www.linkedin.com/company/saar-assurances-c%C3%B4te-d-ivoire/mycompany/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>

                    {% comment %} <div class="col-md-8 col-lg-8 col-xl-4">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-white">Nos produits</h4>

                            {% for prod in produits %}
                            <a href="{% url 'produit_detail' slug=prod.slug %}"><i class="fas fa-angle-right me-2"></i>{{prod.titre}}</a>
                            {% endfor %}
                        </div>
                    </div> {% endcomment %}

                    <div class="col-md-8 col-lg-8 col-xl-4">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-white">Notre société</h4>
                            <a href="{% url 'about_grp' %}"><i class="fas fa-angle-right me-2"></i> Le Groupe SAAR </a>
                            <a href="{% url 'about' %}"><i class="fas fa-angle-right me-2"></i> SAAR Assurances Côte d'Ivoire </a>
                            {% comment %} <a href="#"><i class="fas fa-angle-right me-2"></i> Direction Générale</a> {% endcomment %}
                            <a href="{% url 'agences' %}"><i class="fas fa-angle-right me-2"></i> Nos Agences</a>
                            <a href="{% url 'valeurs' %}"><i class="fas fa-angle-right me-2"></i> Nos Valeurs </a>
                            <a href="https://sinistres.saarassurancesci.com/"><i class="fas fa-angle-right me-2"></i> Déclarer un sinistre </a>
                            <a href="{% url 'carousel_chatbot' %}"><i class="fas fa-angle-right me-2"></i> SAARCI Assistant</a>
                            <a href="#"><i class="fas fa-angle-right me-2"></i> Carrières</a>
                        </div>
                    </div>
                   
                    {% comment %} <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item">
                            <div class="row gy-3 gx-2 mb-4">
                                <div class="col-xl-6">
                                    <form>
                                        <div class="form-floating">
                                            <select class="form-select bg-dark border" id="select1">
                                                <option value="1">Arabic</option>
                                                <option value="2">German</option>
                                                <option value="3">Greek</option>
                                                <option value="3">New York</option>
                                            </select>
                                            <label for="select1">English</label>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xl-6">
                                    <form>
                                        <div class="form-floating">
                                            <select class="form-select bg-dark border" id="select1">
                                                <option value="1">USD</option>
                                                <option value="2">EUR</option>
                                                <option value="3">INR</option>
                                                <option value="3">GBP</option>
                                            </select>
                                            <label for="select1">$</label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <h4 class="text-white mb-3">Payments</h4>
                            <div class="footer-bank-card">
                                <a href="#" class="text-white me-2"><i class="fab fa-cc-amex fa-2x"></i></a>
                                <a href="#" class="text-white me-2"><i class="fab fa-cc-visa fa-2x"></i></a>
                                <a href="#" class="text-white me-2"><i class="fas fa-credit-card fa-2x"></i></a>
                                <a href="#" class="text-white me-2"><i class="fab fa-cc-mastercard fa-2x"></i></a>
                                <a href="#" class="text-white me-2"><i class="fab fa-cc-paypal fa-2x"></i></a>
                                <a href="#" class="text-white"><i class="fab fa-cc-discover fa-2x"></i></a>
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
        <!-- Footer End -->
        
        <!-- Copyright Start -->
        <div class="container-fluid copyright text-body py-4">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-md-8 text-center text-md-end mb-md-0">
                        Copyright <i class="fas fa-copyright me-2"></i> 2025, <a class="text-white" href="#">Saar Côte d'Ivoire</a>, Tous droits réservés.
                    </div>
                    {% comment %} <div class="col-md-6 text-center text-md-start">
                        <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                        <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                        <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                        <!-- Designed By <a class="text-white" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a> -->
                       

                    </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright End -->