
        {% load static %}
        
        <!-- Topbar Start -->
        <div class="container-fluid bg-entete px-5 d-none d-lg-block">
            <div class="row gx-0">
                <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center" style="height: 45px;">
                        {% comment %} <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-twitter fw-normal"></i></a> {% endcomment %}
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" target="_blank" href="https://www.facebook.com/saarassurances.ci"><i class="fab fa-facebook-f fw-normal"></i></a>
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" target="_blank" href="https://www.linkedin.com/company/saar-assurances-c%C3%B4te-d-ivoire/mycompany/"><i class="fab fa-linkedin-in fw-normal"></i></a>
                        {% comment %} <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-instagram fw-normal"></i></a>
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href=""><i class="fab fa-youtube fw-normal"></i></a> {% endcomment %}
                    </div>
                </div>

                <div class="col-lg-4 text-center text-lg-end">
                    <div class="d-inline-flex align-items-center" style="height: 45px;">
                        {% comment %} <a href="#"><small class="me-3 text-light"><i class="fa fa-sign-in-alt me-2"></i>Espace Client</small></a> {% endcomment %}
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <!-- Topbar End -->



        <!-- Navbar & Hero Start -->
        <div class="container-fluid position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="{% url 'index' %}" class="navbar-brand p-0">
                <h1 class="m-0"><img src="{% static 'img/LOGO2_Plan.png' %}"  alt="Logo"></h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="{% url 'index' %}" class="nav-item nav-link 
                        {% if active_index %}
                        active
                        {% endif %} text-center">Accueil</a>

                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle 
                            {% if active_about or active_about_grp %}
                           active {% endif %} text-center" data-bs-toggle="dropdown">A Propos</a>
                            <div class="dropdown-menu m-0">
                                <a href="{% url 'about_grp' %}" class="dropdown-item text-start {% if active_about_grp %} active {% endif %}">Le Groupe SAAR</a>
                                <a href="{% url 'about' %}" class="dropdown-item text-start {% if active_about %} active {% endif %}">SAAR Côte d'Ivoire</a>
                                <a href="{% url 'valeurs' %}" class="dropdown-item text-start {% if active_valeurs %} active {% endif %}">Nos Valeurs</a>    
                            </div>
                        </div>

                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle 
                                {% if produit and produit.pk != produits_takaful.pk %}
                                 active
                                {% endif %} text-center" 
                                data-bs-toggle="dropdown">
                                Nos Produits
                            </a>
                            
                            <ul class="dropdown-menu m-0">
                                <!-- Assurances Non-Vie -->
                                <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle {% if produit in produits_nonvie %} active {% endif %}" href="#">Assurances Non-Vie</a>
                                <ul class="dropdown-menu">
                                    {% for prod in produits_nonvie %}
                                    <li>
                                        <a href="{% url 'produit_detail' slug=prod.slug %}" 
                                        class="dropdown-item text-center
                                        {% if produit and prod.pk == produit.pk %} active {% endif %}">
                                        {{ prod.titre }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                </li>

                                <!-- Assurances Vie -->
                                <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle {% if produit in produits_vie %} active {% endif %}" href="#">Assurances Vie</a>
                                <ul class="dropdown-menu">
                                    
                                   {% for prod in produits_vie %}
                                    <li>

                                          <a href="{% url 'produit_detail' slug=prod.slug %}" 
                                        class="dropdown-item text-center
                                        {% if produit and prod.pk == produit.pk %} active {% endif %}">
                                        {{ prod.titre }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                
                                </ul>
                                </li>
                                
                            </ul>
                        </div>            
                       
                        <a href="{% url 'produit' numero=produits_takaful.pk %}" class="nav-item nav-link {% if produit %}
                        {% if produits_takaful.pk == produit.pk %} active {% endif %}
                        {% endif %} text-center">Assurances Takaful</a>

                         <a href="{% url 'agences' %}" class="nav-item nav-link text-center {% if active_agences %} active {% endif %}">Trouver une agence</a>

                                                  
                         <a href="{% url 'contact' %}" class="nav-item nav-link text-center {% if active_contact %} active {% endif %}">Contacts</a>

                    </div>
                    <a href="https://sinistres.saarassurancesci.com/" target="blank" class="btn btn-primary rounded-pill py-2 px-4 ms-lg-4">Gérer votre sinistre</a>
                    {% comment %} <a href="{% url 'test' %}" class="btn btn-primary rounded-pill py-2 px-4 ms-lg-4">Gérer votre sinistre</a> {% endcomment %}

                </div>
            </nav>

            
           {% if active_index %}
            <!-- Carousel Start -->
            <div class="carousel-header">
                <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active"></li>


                        
                        {% comment %} <li data-bs-target="#carouselId" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carouselId" data-bs-slide-to="2"></li>
                        <li data-bs-target="#carouselId" data-bs-slide-to="3"></li> {% endcomment %}
                    </ol>
                    <div class="carousel-inner" role="listbox">


                        {% comment %} Recommandation DG {% endcomment %}
                        <div class="carousel-item {% if active_index %}active{% endif %}">
                            {% comment %} <img src="{% static 'img/accueil_1.png' %}" class="img-fluid" alt="Image"> {% endcomment %}
                            <div class="carousel-caption">
                                <div class="p-3" style="max-width: 900px;">
                                    <div class="d-flex align-items-center justify-content-center">
                                        {% comment %} <a class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5" href="{{ carousel.lien }}">En savoir plus</a> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                        
                        {% comment %} Ce qui existait avant {% endcomment %}
                        {% comment %} {% for carousel in carousels %}  
                         <div class="carousel-item {% if forloop.first %} active {% endif %}">
                            <img src="{{ carousel.path.url }}" class="img-fluid" alt="Image">
                            <div class="carousel-caption">
                                <div class="p-3" style="max-width: 900px;">
                                    <h1 class="display-2 text-capitalize text-primary mb-4">{{carousel.titre|default_if_none:""}}</h1>
                                    <p class="mb-5 fs-5" style="font-size: 1.25em;">{{carousel.contenu|default_if_none:""}}</p> 
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5" href="{{ carousel.lien }}">En savoir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %} {% endcomment %}
              
                    </div>
                    {% comment %} <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon btn bg-primary" aria-hidden="false"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                        <span class="carousel-control-next-icon btn bg-primary" aria-hidden="false"></span>
                        <span class="visually-hidden">Next</span>
                    </button> {% endcomment %}
                </div>
            </div>
            <!-- Carousel End -->
            {% endif %}

        </div>
        {% comment %} <div class="container-fluid search-bar position-relative" style="top: -50%; transform: translateY(-50%);">
            <div class="container">
                <div class="position-relative rounded-pill w-100 mx-auto p-5" style="background: rgba(19, 53, 123, 0.8);">
                    <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Eg: Thailand">
                    <button type="button" class="btn btn-primary rounded-pill py-2 px-4 position-absolute me-2" style="top: 50%; right: 46px; transform: translateY(-50%);">Search</button>
                </div>
            </div>
        </div> {% endcomment %}
        <!-- Navbar & Hero End -->